.navBar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  transition: all 300ms;
  scale: 1.1;
}

.divLogo {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.imagenLogo {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

div h3 {
  font-size: 1rem;
  font-style: italic;
}

.listaCategorias {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
